*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: auto;
}
.header{
    padding: 3rem 0;
    background: rgba(0, 0, 128, 0.363);
    width: 100%;
    text-align: center;
}
.header>h1{
    color: white;
    font-size: 1.5rem;
}